/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Estilo do cabeçalho */
  header {
    background-color: #ae00ff;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilizando o logo */
  header .logo {
    max-width: 150px;
    display: block;
    margin: 0 auto 10px;
  }
  /* Estilo da navegação */
  nav {
    background-color: #4e4848;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
  }
  nav ul li a:hover {
    background-color: #4e4848;
  }
  
  /* Estilo da seção principal */
  section {
    padding: 20px;
  }

  /* Estilo do botão */
#mudarCorBtn {
    background-color: #ae00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto; /* centraliza o botão */
    display: block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #mudarCorBtn:hover {
    background-color: #4b0263;
  }
  
  /* Seção de lista */
#lista-section {
    padding: 20px;
    text-align: center;
  }
  #lista-section input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  #lista-section button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  #lista-section button:hover {
    background-color: #1976D2;
  }
  #lista-section ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  #lista-section ul li {
    padding: 10px;
    background-color: #eee;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* Estilo do rodapé */
  footer {
    background-color: #4e4848;
    color: white;
    text-align: center;
    padding: 10px;
  }
  